.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
color : red;
font-size : 25px;
font-weight: 500;
font-family :"Comic Sans MS", cursive, sans-serif;

}
 
h1 span {
 color : blue;
 text-decoration: none;

}

.bottom {
 margin-top: 20px;
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
   font-size: 16px;
   width: 200px;
     height: 50px;
}